{
    "DEVICE_METADATA": {
        "localhost": {
            "mac": "{{ system_mac }}",
            "buffer_model": "traditional"
        }
    },
{% set features = ["swss", "bgp", "teamd", "nat", "database", "lldp", "dhcp_relay", "macsec"] %}
    "FEATURE": {
{% for feature in features %}
        "{{ feature }}": {
            "state": "enabled"
        }{% if not loop.last %},{% endif %}
{% endfor %}
    }
}

