!
! template: bgpd/templates/internal/peer-group.conf.j2
!
  neighbor INTERNAL_PEER_V4 peer-group
  neighbor INTERNAL_PEER_V6 peer-group
  address-family ipv4

{% if CONFIG_DB__DEVICE_METADATA['localhost']['switch_type'] == 'chassis-packet' %}
    neighbor INTERNAL_PEER_V4 update-source Loopback4096
{% elif CONFIG_DB__DEVICE_METADATA['localhost']['sub_role'] == 'BackEnd' %}
    neighbor INTERNAL_PEER_V4 route-reflector-client
{% endif %}
    neighbor INTERNAL_PEER_V4 soft-reconfiguration inbound
    neighbor INTERNAL_PEER_V4 allowas-in 1
    neighbor INTERNAL_PEER_V4 route-map FROM_BGP_INTERNAL_PEER_V4 in
    neighbor INTERNAL_PEER_V4 route-map TO_BGP_INTERNAL_PEER_V4 out
  exit-address-family
  address-family ipv6
{% if CONFIG_DB__DEVICE_METADATA['localhost']['switch_type'] == 'chassis-packet' %}
    neighbor INTERNAL_PEER_V6 update-source Loopback4096
{% elif CONFIG_DB__DEVICE_METADATA['localhost']['sub_role'] == 'BackEnd' %}
    neighbor INTERNAL_PEER_V6 route-reflector-client
{% endif %}
    neighbor INTERNAL_PEER_V6 soft-reconfiguration inbound
    neighbor INTERNAL_PEER_V6 allowas-in 1
    neighbor INTERNAL_PEER_V6 route-map FROM_BGP_INTERNAL_PEER_V6 in
    neighbor INTERNAL_PEER_V6 route-map TO_BGP_INTERNAL_PEER_V6 out
  exit-address-family
!
! end of template: bgpd/templates/internal/peer-group.conf.j2
!
