no route-map CHECK_IDF_ISOLATION permit 1
no route-map CHECK_IDF_ISOLATION permit 2
no route-map CHECK_IDF_ISOLATION permit 3
no route-map CHECK_IDF_ISOLATION deny 4
route-map CHECK_IDF_ISOLATION permit 10
    no set community no-export additive
