clusters:
  hosts:
    cluster1:
      ansible_user: {{ username }}
      ansible_ssh_pass: {{ password }}
      ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
      ansible_become_password: {{ password }}
      ansible_host: {{ host }}

      sonic_vm1_ethernet0: 1.0.1.2
      sonic_vm1_ethernet1: 100.0.1.2

      sonic_vm2_ethernet0: 1.0.2.2
      sonic_vm2_ethernet1: 100.0.2.2

      sonic_r0_r1_intf1: 1.0.1.1
      sonic_r0_r1_intf2: 100.0.1.1
      sonic_r0_r2_intf1: 1.0.2.1
      sonic_r0_r2_intf2: 100.0.2.1

      sonic_t2_prefix: 1.0.0.0
      sonic_t0_prefix_r1: 100.0.1.0
      sonic_t0_prefix_r2: 100.0.2.0

      vm_password: cisco123
