!
! template: bgpd/templates/voq_chassis/peer-group.conf.j2
!
  neighbor VOQ_CHASSIS_V4_PEER peer-group
  neighbor VOQ_CHASSIS_V6_PEER peer-group
  address-family ipv4
{% if CONFIG_DB__DEVICE_METADATA['localhost']['type'] == 'ToRRouter' %}
    neighbor VOQ_CHASSIS_V4_PEER allowas-in 1
{% endif %}
    neighbor VOQ_CHASSIS_V4_PEER activate
    neighbor VOQ_CHASSIS_V4_PEER addpath-tx-all-paths
    neighbor VOQ_CHASSIS_V4_PEER soft-reconfiguration inbound
    neighbor VOQ_CHASSIS_V4_PEER route-map FROM_VOQ_CHASSIS_V4_PEER in
    neighbor VOQ_CHASSIS_V4_PEER route-map TO_VOQ_CHASSIS_V4_PEER out
  exit-address-family
  address-family ipv6
{% if CONFIG_DB__DEVICE_METADATA['localhost']['type'] == 'ToRRouter' %}
    neighbor VOQ_CHASSIS_V6_PEER allowas-in 1
{% endif %}
    neighbor VOQ_CHASSIS_V6_PEER activate
    neighbor VOQ_CHASSIS_V6_PEER addpath-tx-all-paths
    neighbor VOQ_CHASSIS_V6_PEER soft-reconfiguration inbound
    neighbor VOQ_CHASSIS_V4_PEER route-map FROM_VOQ_CHASSIS_V6_PEER in
    neighbor VOQ_CHASSIS_V4_PEER route-map TO_VOQ_CHASSIS_V6_PEER out
  exit-address-family
!
! end of template: bgpd/templates/voq_chassis/peer-group.conf.j2
!
