route-map {{ route_map_name }} permit 20
  match {{ ip_protocol }} address prefix-list PL_Loopback{{ ip_version }}
  set community {{ constants.bgp.traffic_shift_community }}
route-map {{ route_map_name }} deny 30
!
