!
{% block vrf %}
{%  if VNET is defined %}
{%   for vnet_name, vnet_metadata in VNET.items() %}
vrf {{ vnet_name }}
vni {{ vnet_metadata['vni'] }}
!
{%   endfor %}
{%  endif %}
{% endblock vrf %}
!
{% block interfaces %}
! Enable nht through default route
ip nht resolve-via-default
! Enable link-detect (default disabled)
{% for (name, prefix) in INTERFACE|pfx_filter %}
interface {{ name }}
link-detect
!
{% endfor %}
{% for pc in PORTCHANNEL %}
interface {{ pc }}
link-detect
!
{% endfor %}
{% endblock interfaces %}
!
