!
! template: bgpd/templates/general/policies.conf.j2
!
!
!
{% if constants.bgp.allow_list is defined and constants.bgp.allow_list.enabled is defined and constants.bgp.allow_list.enabled and constants.bgp.allow_list.drop_community is defined %}
!
!
! please don't remove. 65535 entries are default rules
! which works when allow_list is enabled, but new configuration
! is not applied
!
{%   if allow_list_default_action == 'deny' %}
!
route-map ALLOW_LIST_DEPLOYMENT_ID_0_V4 permit 65535
  set community no-export additive
!
route-map ALLOW_LIST_DEPLOYMENT_ID_0_V6 permit 65535
  set community no-export additive
{%   else %}
!
route-map ALLOW_LIST_DEPLOYMENT_ID_0_V4 permit 65535
  set community {{ constants.bgp.allow_list.drop_community }} additive
!
route-map ALLOW_LIST_DEPLOYMENT_ID_0_V6 permit 65535
  set community {{ constants.bgp.allow_list.drop_community }} additive
{%   endif %}
!
bgp community-list standard allow_list_default_community permit no-export
bgp community-list standard allow_list_default_community permit {{ constants.bgp.allow_list.drop_community }}
!
route-map FROM_BGP_PEER_V4 permit 10
  call ALLOW_LIST_DEPLOYMENT_ID_0_V4
  on-match next
!
route-map FROM_BGP_PEER_V4 permit 11
  match community allow_list_default_community
!
route-map FROM_BGP_PEER_V6 permit 10
  call ALLOW_LIST_DEPLOYMENT_ID_0_V6
  on-match next
!
route-map FROM_BGP_PEER_V6 permit 11
  match community allow_list_default_community
!
{% endif %}
!
!
!
route-map FROM_BGP_PEER_V4 permit 100
!
route-map TO_BGP_PEER_V4 permit 100
!
!
route-map FROM_BGP_PEER_V6 permit 1
 on-match next
 set ipv6 next-hop prefer-global
!
route-map FROM_BGP_PEER_V6 permit 100
!
route-map TO_BGP_PEER_V6 permit 100
!
! end of template: bgpd/templates/general/policies.conf.j2
!
