!
! template: bgpd/templates/monitors/instance.conf.j2
!
  neighbor {{ neighbor_addr }} remote-as {{ bgp_asn }}
  neighbor {{ neighbor_addr }} peer-group BGPMON
  neighbor {{ neighbor_addr }} description {{ bgp_session['name'] }}
  neighbor {{ neighbor_addr }} activate
  address-family ipv6
    neighbor {{ neighbor_addr }} activate
  exit-address-family
!
! end of template: bgpd/templates/BGPMON/instance.conf.j2
!
