{% if DEVICE_METADATA.localhost.frr_mgmt_framework_config is defined and DEVICE_METADATA.localhost.frr_mgmt_framework_config == "true" %}
    {% include "/usr/local/sonic/frrcfgd/bgpd.conf.j2" %}
{% else %}
    {% include "/usr/share/sonic/templates/bgpd/bgpd.conf.j2" %}
{% endif %}
