!
! template: bgpd/templates/sentinels/policies.conf.j2
!
{% if constants.bgp.sentinel_community is defined %}
bgp community-list standard sentinel_community permit {{ constants.bgp.sentinel_community }}
!
route-map FROM_BGP_SENTINEL permit 100
 match community sentinel_community
{% endif %}
!
route-map FROM_BGP_SENTINEL deny 200
!
route-map TO_BGP_SENTINEL permit 100
!
! end of template: bgpd/templates/sentinels/policies.conf.j2
!
